.footer{
	padding: 0 80px 50px;
	position: relative;
	width: 100%;
	.footer__cont{
		width: 100%;
		picture{
			max-width: 512px;
			width: 100%;
			display: block;
			margin: 0 auto;
			img{
				width: 100%;
			}
		}
		.slideup {
			position: absolute;
			right: 25px;
			padding: 0;
			border: unset;
			bottom: 90px;
			background: unset;
		}
	}
}
@media(max-width: 770px){
	.footer{
		padding: 0 0px 40px;
		.footer__cont{
			picture{
				max-width: 512px;
			}
			.slideup {
				width: 30px;
				height: 30px;
				right: 20px;
				bottom: 20px;
				svg{
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}